body{
    background-color: #EAF6F6;
}
h1,h2{
    color: #66BFBF;
}
.hr{
    border-style: none;border-color:darkgrey;width: 10%;border-top-style: dotted ;border-width: 5px;
}
#img{border:none; border-radius: 100%;}
.enter:hover{background-color:rgba(102, 191, 191, 0.479) ;}